<footer class="site-footer">
  <div class="container">

    <div class="block">
      <a href="{{ '/contact' | prepend: site.baseurl | prepend: site.url }}">Contact</a>
      <a href="{{ '/manifesto' | prepend: site.baseurl | prepend: site.url }}">Manifesto</a>
      <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a>
    </div>
    
    <hr>
  
    <small class="block">
      &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} &nbsp;
      <a href="{{ '/privacy-policy' | prepend: site.baseurl | prepend: site.url }}">Privacy Policy</a>&nbsp;
      <a href="{{ '/terms-and-conditions' | prepend: site.baseurl | prepend: site.url }}">Terms and Conditions</a>
    </small>
  </div>
</footer>
